
@darkGrey: #6E6E6E;
@midGrey: #333;
@lightGrey: #EEE;
@grey: #CCC;
@black: #000;

.table-top-menu
{
    height: 30px;
    width: 100%;

    .table-top-menu-search
    {
        position: relative;
        float: left;
        box-shadow:
            inset 0 1px 0 @grey,
            inset 0 -1px 0 @grey,
            inset 0 -3px 0 rgba(0, 0, 0, .05);

        .table-top-menu-search-input
        {
            padding: 9px 6px 6px 30px;
            height: 100% !important;
            width: 100%;
            outline: none !important;
            background: transparent;
            border: 1px solid @grey;

            &+.glyphicon
            {
                position: absolute;
                left: 0;
                padding: 8px 10px;
            }
        }
    }

    .table-top-menu-editor
    {
        float: right;
    }
}

.outer
{
	&::-webkit-scrollbar
	{
		display: none;
	}

	position: relative;

	.inner
	{
		&::-webkit-scrollbar
		{
			display: none;
		}

		overflow-x: scroll;
		overflow-y: visible;
		width: 100%;

		.table
		{
			table-layout: fixed;
			width: 100%;

			> thead
			{
				> tr
				{
					> th
					{
						user-select: none;
						-moz-user-select: none;
						-khtml-user-select: none;
						-webkit-user-select: none;
						-o-user-select: none;
						cursor: pointer;

						vertical-align: top;
						border-top: 1px solid @grey;
						padding: 5px 10px;

						&:hover
						{
							background: @lightGrey !important;

							> a
							{
								color: @black;
							}
						}

						&.sorting
						{
							background: @lightGrey !important;

							> a
							{
								color: @black;
							}
						}

						> a
						{
							color: @midGrey;
							display: block;
							text-decoration: none;
						}
					}
				}
			}

			> tbody
			{
				> tr
				{
					.dlk
					{
						cursor: pointer;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin-bottom: 0;
						line-height: 34px;
						text-align: center;

						input[type="checkbox"]
						{
							margin-left: -99999px;
							display: none;

							&+.fa
							{
								opacity: 0.15;
							}

							&:hover,
							&:checked
							{
								&+.fa
								{
									opacity: 1 !important;
								}
							}
						}
					}

					&.row-selected
					{
						td
						{
							&:first-child
							{
								position: relative;
								padding: 0 !important;
							}

							&:not(:first-child)
							{
								padding: 0 !important;
							}

							.table-input
							{
								height: 36px !important;
								width: 100% !important;
								border: none !important;
								margin-left: 9px;
								outline: none;
								background: transparent;

								&.locked
								{
									color: @darkGrey;
								}
							}

							.table-checkbox
							{
								line-height: 35px;

								.table-checkbox-button
								{
									margin-left: 10px !important;
								}

								.table-checkbox-text
								{
									margin-left: 5px !important;

									&.locked
									{
										color: @darkGrey;
									}
								}
							}

							position: relative;
						}
					}

					> td
					{
						vertical-align: top;
						border-top: 1px solid @grey;
					}
				}
			}

			margin-bottom: 0 !important;
		}
	}
}

.pagination
{
	float: right;
	margin: 0 0 0 0 !important;

	> li
	{
		user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		cursor: pointer;

		.pagination-selector
		{
			span
			{
				&:hover
				{
					background: none !important;
					cursor: default;
				}
			}

			.pagination-selector-options
			{
				-webkit-appearance: none;
				margin: 0 10px;
				outline: none;
				border: none;
				padding: 0 10px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}

.loadingScreen
{
	position: relative;
	width: 100%;
	height: 200px;

	.loader
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
