@import "../variables.less";

.oc-menu-dropdown-grid {
    & .items {
        & .item-container {
            display: inline-flex;
            justify-content: center;
            padding: 2px;
            width: unit(@oc-menu-dropdown-grid--item-size, px);
            height: unit(@oc-menu-dropdown-grid--item-size, px);
        }

        & .item-container,
        & .item-container a {
            &,
            &:active,
            &:focus,
            &:hover {
                color: inherit;
            }
        }

        & .item {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            align-items: center;
            border-bottom: 4px solid transparent;
            flex: 1;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }

        & .item:hover {
            border-color: #e5e5e5;
        }

        & .item--active,
        & .item--active:hover {
            border-color: #e70;
        }

        & .item-image {
            flex: 1;
            display: flex;
            align-items: center;
            padding-bottom: 40%;
            fill: #67707c;
        }

        & .item-image .oc-svg {
            width: 48px;
            height: 48px;
            align-items: center;
            justify-content: center;
        }

        & .item-image svg {
            width: 48px;
            height: 48px;
        }

        & .item-label {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 2px;
            text-align: center;
            font-size: 14px;
        }

        & .item-label {
            height: 45%;
            align-items: flex-start;
            display: flex;
            justify-content: center;

            &,
            &:active,
            &:focus,
            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

