@import "./variables.less";

.oc-menu-dropdown-grid {
    margin: 8px 0;
    padding: 0 8px;
    height: 220px;

    & .items {
        display: flex;
        flex-wrap: wrap;
        width: unit(@oc-menu-dropdown__items--width, px);
    }
}
